<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles by Sass -->
  <link rel="stylesheet" href="/css/styles.css">
  <title> Ejs Example | Fazt </title>
</head>

<body>
  <main>
    <span class="icon">🖊️</span>
    <h1> Welcome to Mongo Experience </h1>
    <p>
      Este es un ejemplo del uso de EJs para Express utilizando MongoDB, al parecer NodeJS puede procesar archivos de
      HTML que tienen otro tipo de extensión.
    </p>
  </main>
</body>

</html>